.my-container{
    background-color: lightgray;
    height: auto;
    width: auto;
}

.block{
    height: 150px;
    background-color: blue;
    color: white;
}

.row-1{
    height: 240px;
    background-color: gold;
}